body{
    background-color: white;
    padding:0;
    margin:0;
    text-align: center;
}
header {
    background-color: black;
    padding:25px;
    box-shadow: black;
}
header li {
    display: inline;
}
header li a {
    color: white;
    padding:12px;
}

header li a:hover {
    color:red;
}

header ul #SignIn a 
{
color:white;
background-color: red;
border-radius: 30px;
float:right;
position: relative;
top: -20px;
}
header ul #SignIn a:hover{
    background-color: white;
}
.active {
    color:red;
}

header li img {
    width: 100px;
    float:left;
    margin-top: -32px;
}
